@model S2021A5SB.Models.ArtistWithDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details - @Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthOrStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthOrStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlArtist)
        </dt>

        <dd>
            <img src="@Model.UrlArtist" width="150" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Executive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Executive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumsCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumsCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Add Album for the artist", "AddAlbum", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
